@font-face {
  font-family: "fontAwesomeBrands";
  src: url("../icons/Font\ Awesome\ 6\ Brands-Regular-400.otf")
    format("opentype");
}

@font-face {
  font-family: "fontAwesomeRegular";
  src: url("../icons/Font\ Awesome\ 6\ Free-Regular-400.otf") format("opentype");
}

@font-face {
  font-family: "fontAwesomeSolid";
  src: url("../icons/Font\ Awesome\ 6\ Free-Solid-900.otf") format("opentype");
}
