/*=======================*/
* {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;

  border: none;

  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;

  clear: both;
  line-height: normal;
  vertical-align: middle;
  box-sizing: border-box;

  transition: all 250ms ease-in-out;
}

*::before,
*::after {
  clear: both;
}
*:focus {
  outline: none !important;
}
html {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  position: fixed;
  display: block;
  width: 100% !important;
  height: 100% !important;
  overflow: visible;
}
input {
  appearance: none;
  min-width: unset;
}
/*=======================*/
:root {
  /*position*/
  --pn: static; /*position, position*/
  --pn_t: 0; /*position top, top*/
  --pn_r: 0; /*position right, right*/
  --pn_b: 0; /*position bottom, bottom*/
  --pn_l: 0; /*position left, left*/

  /*display*/
  --dy: block; /*display, display*/

  /*overflow*/
  --ow_h: visible; /*overflow horizontal, overflow-x*/
  --ow_v: visible; /*overflow vertical, overflow-y*/
  --ow_w: normal; /*overflow wrap, overflow-wrap*/

  /*width*/
  --wh: unset; /*width, width*/
  --wh_n: unset; /*min width, min-width*/
  --wh_x: unset; /*max width, max-width*/

  /*height*/
  --ht: unset; /*height, height*/
  --ht_n: unset; /*min height, min-height*/
  --ht_x: unset; /*max height, max-height*/

  /*font*/
  --ft_z: 1rem; /*font size, font-size*/
  --ft_f: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /*font family, font-family*/
  --ft_s: normal; /*font style, font-style*/
  --ft_w: normal; /*font weight, font-weight*/

  /*directions*/
  --dn: start; /*directions, directions*/

  /*text*/
  --tt_a: start; /*text align, text-align*/
  --tt_i: 0; /*text indent, text-indent*/
  --tt_o: clip; /*text overflow, text-overflow*/
  --tt_c: normal; /*text space, white-space*/
  --tt_w: normal; /*text wrap, word-wrap*/
  --tt_b: normal; /*text break, word-break*/

  /*text decoration*/
  --td_l: none; /*text decoration, text-direction-line*/
  --td_s: solid; /*text decoration, text-direction-color*/
  --td_c: transparent; /*text decoration, text-direction-color*/
  --td_t: 1%; /*text decoration, text-direction-color*/
  --td: var(--tt_d_l) var(--tt_d_s) var(--tt_d_c) var(--td_t); /*text decoration, text-direction*/

  /*color*/
  --cr: inherit; /*color*/

  /*background color*/
  --bd_c: transparent; /*background color, background-color*/

  /*background image*/
  --bd_i: transparent; /*background image, background-image*/

  /*border*/
  --br_t: 0; /*border top width*/
  --br_r: 0; /*border right width*/
  --br_b: 0; /*border bottom width*/
  --br_l: 0; /*border left width*/
  --br_w: var(--br_t) var(--br_r) var(--br_b) var(--br_l); /*border width, border-width*/
  --br_s: solid; /*border style, border-style*/
  --br_c: transparent; /*border color, border-color*/

  /*radius*/
  --rs_t: 0; /*radius top left*/
  --rs_r: 0; /*radius top right*/
  --rs_b: 0; /*radius bottom right*/
  --rs_l: 0; /*radius bottom left*/
  --rs: var(--rs_t) var(--rs_r) var(--rs_b) var(--rs_l); /*radius, border-radius*/

  /*shadow*/
  --sh_t: ; /*shadow type*/
  --sh_h: 0; /*shadow offset horizontal*/
  --sh_v: 0; /*shadow offset vertical*/
  --sh_s: 0; /*shadow spread*/
  --sh_c: transparent; /*shadow color*/
  --sh: var(--sh_t) var(--sh_h) var(--sh_v) var(--sh_s) var(--sh_c); /*shadow, box-shadow*/

  /*padding*/
  --pg_t: 0; /*padding top*/
  --pg_r: 0; /*padding right*/
  --pg_b: 0; /*padding bottom*/
  --pg_l: 0; /*padding left*/
  --pg: var(--pg_t) var(--pg_r) var(--pg_b) var(--pg_l); /*padding, padding*/

  /*margin*/
  --mn_t: 0; /*margin top*/
  --mn_r: 0; /*margin right*/
  --mn_b: 0; /*margin bottom*/
  --mn_l: 0; /*margin left*/
  --mn: var(--mn_t) var(--mn_r) var(--mn_b) var(--mn_l); /*margin, margin*/

  /*flex*/
  --fx_f: row; /*flex flow, flex-direction*/
  --fx_w: nowrap; /*flex wrap, flex-wrap*/
  --fx_c_m: flex-start; /*content main, justify-content*/
  --fx_c_c: flex-start; /*content cross, align-content*/
  --fx_i_m: stretch; /*item main, justify-items*/
  --fx_i_c: stretch; /*item cross, align-items*/

  /*grid*/
  --gd_tr: auto; /*grid template rows, grid-template-rows*/
  --gd_tc: auto; /*grid template columns, grid-template-columns*/
  --gd_r: 1/1; /*grid row, grid-row*/
  --gd_c: 1/1; /*grid column, grid-column*/

  /*gap*/
  --gp_r: 0; /*gap row, row-gap*/
  --gp_c: 0; /*gap column, column-gap*/

  /*object*/
  --ob_f: contain; /*object fit, object-fit*/
  --ob_p: center; /*object position, object-position*/

  /*mouse events*/
  --me_e: auto; /*mouse events, pointer-events*/

  /*cursor*/
  --cu: auto; /*cursor, cursor*/

  /*user select*/
  --us: none; /*user select, user-select*/

  /*opacity*/
  --op: none; /*opacity, opacity*/
}
/*=======================*/
