/*=======================*/
mzroot,
mzmodals {
  --pn: fixed;
  --wh: 100%;
  --ht: 100%;
  --ow_h: auto;
  --ow_v: auto;
}
/*=======================*/
mzmodals {
  --me_e: none;
}
mzmodals.show {
  --me_e: auto;
}
mzmodals * {
  --me_e: auto;
}
/*=======================*/
mzwidget {
  --Dpy: content !important;
}
